https://www.freepik.com/icon/apartment_11001466


https://www.freepik.com/icon/apartment_8383075

https://www.shecodes.io/palettes/



https://www.behance.net/gallery/222876479/HALTON-LUXURY-APARTMENT?tracking_source=search_projects%7Capartment+website



https://dribbble.com/shots/14390769-Alloggio-Hotel-Booking-Theme



https://propertymanagement.sg/blog/portfolio/data-analysis/


https://zango.com.au/property/125-mcmichael-terrace-denman-prospect-act-2611/

https://sunsetrealestate.ca/property/moon-garden-2/